#snake {
    position: absolute;
    top:5px;
    right: -2px;
    z-index: -1;
    size: 75%;
}

body {
    background-image: url("../images/sand-background.jpg");
    background-color: #cccccc;
    font-family: 'Francois One', sans-serif;
 }

 button {
    width: 400px;
    height: 100px;
    font-size: 12px;
    background-color: rgb(109, 63, 7); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 4px;
 }

 .thequiz{
     clear:both;
     width:80%;
     height:400px;
     background: white;
     border:solid black 0.5px;
     margin: 5px;
     padding:12px;
     font-size: 28px;
 }

 h1 {
     font-size: 55px;
     margin-left:5px;
 }

 @media (max-width: 1080px) {
    .thequiz {
        height: 700px;
    }
 }

 @media (max-width: 640px) {
    #snake {
      position:relative;
      bottom:1px;
    }

    .thequiz {
        height: 800px;
    }
  }