#snake {
    position: absolute;
    top:50px;
    right: 100px;
}

body {
    background-image: url("../images/sand-background.jpg");
    background-color: #cccccc;
    font-family: 'Francois One', sans-serif;

 }

 .thequiz{
     clear:both;
     width:80%;
     height:600px;
     background: white;
     border:solid black 0.5px;
     margin: 5px;
     padding:12px;
     font-size: 24px;
 }

 h1 {
     font-size: 50px;
     margin-left:5px;
 }

 @media (max-width: 640px) {
    #snake {
      position:relative;
      bottom:1px;
    }
  }